{
    "files.associations": {
		"*.ejs": "html"
	},
    "editor.fontFamily": "'Migu 1M'",
    "editor.renderWhitespace": "none",
    "editor.tabSize": 4,
    "[plaintext]": {
        
    },
	"editor.insertSpaces": false,
    "[html]": {
        "editor.renderWhitespace": "none",
        "editor.tabSize": 4,		
        "editor.insertSpaces": false,
        "editor.defaultFormatter": "vscode.html-language-features",
    },
	"editor.detectIndentation": false,
	"editor.formatOnType": true,
	"javascript.format.placeOpenBraceOnNewLineForControlBlocks": false,
	"javascript.format.placeOpenBraceOnNewLineForFunctions": false,
	"typescript.format.placeOpenBraceOnNewLineForControlBlocks": true,
	"typescript.format.placeOpenBraceOnNewLineForFunctions": false,
	"window.menuBarVisibility": "default",
	"window.zoomLevel": 0,
	"sshfs.configs": [],
	"terminal.integrated.shell.windows": "C:\\Program Files\\Git\\bin\\bash.exe",
    "terminal.integrated.fontFamily": "Lucida Console",
	"[javascriptreact]": {},
	"editor.minimap.enabled": false,
	"[javascript]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"git.autofetch": true
}