<!DOCTYPE html>
<html lang="ja">
  <head>
	<meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/javascripts/js/jquery-ui-1.12.1.custom/jquery-ui.css" />

	<script src="/javascripts/js/jquery-3.4.1.min.js"></script>
	<script src="/javascripts/js/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
	<script src="/javascripts/js/socket.io.js"></script>

</head>
  <body>
	<aside><!-- サイドメニュー-->
		<div >
			<section>
			<h1>カテゴリー</h1>
			<ul>
				<li><a href="#">カテゴリー1</a></li>
				<li><a href="#">カテゴリー2</a></li>
				<li><a href="#">カテゴリー3</a></li>
				<li><a href="#">カテゴリー4</a></li>
				<li><a href="#">カテゴリー5</a></li>
			</ul>
		</section>
		</div>
	</aside>
	<article><!--地図エリア-->
		<div id="mapCanvas" class="ui-widget-content">
  			<h3 class="ui-widget-header">地図表示エリア</h3>
		</div>
		<div id="strtVwCanvas" class="ui-widget-content">
  			<h3 class="ui-widget-header">グーグルビュー</h3>
		</div>
	</article>

	<!-- 以下のスクリプトは、</body直前に置いた方がいいみたい？-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAT1CHvQkiTKOdPbmJp2gOpqDIblMgzfI"></script>
	<script src="/javascripts/initializeMap.js"></script>
	<script src="/javascripts/initializeSocketIO.js"></script>
	<script src="/javascripts/initializeMapCanvas.js"></script>
</body>
</html>
